<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="episode">
      <h2 data-cy="episodeDetailsHeading"><span jhiTranslate="jhipsterTestApplicationApp.episode.detail.title">Episode</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterTestApplicationApp.episode.id">Id</span></dt>
        <dd>
          <span>{{ episode.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTestApplicationApp.episode.name">Name</span></dt>
        <dd>
          <span>{{ episode.name }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/episode', episode.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
